.AddButtonSpace {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

#SortDropdown {
    position: absolute;
    right: 13px;
    top: 13px;
}

#SortDropdown label {
    margin-right: 6px;
}

#Pagination {
    height: 55px;
    display: block;
    text-align: center;
    padding-top: 15px;
}