
.Forgot-password {
    color: rgb(155, 155, 155);
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    margin: 15px 0 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Forgot-password:hover {
    color: rgb(97, 97, 97);
    transition: 0.1s all ease-in-out; 
}

.Login Button {
    margin-top: 10px;
}